@media (min-width: 1020px) {
  .contents-card {
    padding: 30px;
  }
  .hero-contents {
    padding: 140px 100px;
  }

  .hero-title {
    font-size: 4.5rem;
    font-weight: 600;
  }
  .works {
    flex-direction: row;
    gap: 3rem;
  }
  .work-reversed {
    flex-direction: row-reverse;
  }
  .work-title {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .work-tech {
    font-size: 1.8rem;
  }
  .resume-row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
  .contact-row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .footer-section {
    padding: 60px 0;
  }
  .footer-row {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .reveiw-contents {
    border: 1px solid lightgrey;
}
}